<div class="bg-header">
    <div class="mx-auto max-w-7xl flex h-10 items-center px-4 text-sm font-bold text-white sm:px-6 lg:px-8">
        <!--<a href="#" class="flex items-center text-gray-700 hover:text-gray-800">
            <img src="https://tailwindui.com/img/flags/flag-canada.svg" alt=""
                 class="block h-auto w-5 flex-shrink-0">
            <span class="ml-3 block text-sm font-medium">CAD</span>
            <span class="sr-only">, change currency</span>
        </a>-->

        <p class="mx-auto">🌺 ¡Los MEJORES REGALOS esperan por tu persona favorita! 🌻</p>

    </div>
</div>
