<div class="flex flex-col flex-auto items-center py-12 sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12 bg-white sm:rounded-2xl sm:border sm:border-slate-200">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/logotipo-floreria-envios.png">
            </div>

            <!-- Title -->
            <div class="mt-8 mb-3 text-2xl font-extrabold tracking-tight leading-tight">Recuperar contraseña</div>
            <div class="flex text-md text-slate-500 text-justify items-baseline mt-0.5 font-medium">
                <div>Se enviará un vinculo para restablecer tu contraseña a la dirección de correo electrónico asociada
                    a tu cuenta.
                </div>
            </div>

            <!-- Sign in form -->
            <form [formGroup]="restorePasswordForm" class="mt-8">
                <div>
                    <mat-label class="mb-2 block text-sm font-medium text-slate-700">Correo electrónico</mat-label>
                    <mat-form-field appearance="outline" class="w-full">
                        <input matInput formControlName="email">
                        <span matSuffix class="text-slate-300 text-sm mr-3">
                            &nbsp;<i class="fa-solid fa-envelope"></i>
                        </span>
                    </mat-form-field>
                </div>

                <!-- Submit button -->
                <button mat-flat-button color="primary" type="button" class="w-full mt-6" (click)="recoveryPassword()">
                    Recuperar contraseña
                </button>

            </form>
        </div>
    </div>
</div>

