<main class="mx-auto w-5/6 space-y-10 px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid w-full grid-cols-3 items-start gap-10">
        <div class="col-span-2 space-y-5">

            @if (cartProducts) {
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-16 py-3">
                            <span class="sr-only">Image</span>
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Product
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Cantidad
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Precio
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Total
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Eliminar
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                        @for (cart of cartProducts; track cart) {
                            <tr class="bg-white border-b hover:bg-gray-50">
                                <td class="p-4">
                                    <img src="assets/default-product.jpg" class="w-24 max-w-full max-h-full rounded-lg">
                                </td>
                                <td class="px-6 py-4 text-gray-500">
                                    {{ cart.product.name }}
                                </td>
                                <td class="px-6 py-4">
                                    <form [formGroup]="quantityForm.controls[$index]">
                                        <div class="flex items-center">
                                            <button mat-icon-button (click)="decrement($index)">
                                                <i class="fa-solid fa-circle-minus"></i>
                                            </button>
                                            <mat-form-field appearance="outline" class="w-20 -mb-5">
                                                <input matInput [min]="1" formControlName="quantity">
                                            </mat-form-field>
                                            <button mat-icon-button (click)="increment($index)">
                                                <i class="fa-solid fa-circle-plus"></i>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                                <td class="px-6 py-4 text-gray-500">
                                    {{ cart.product.price | currency }}
                                </td>

                                <td class="px-6 py-4 text-gray-500">
                                    {{ (cart.product.price * quantityForm.at($index).get('quantity').value) | currency }}
                                </td>

                                <td class="px-6 py-4">
                                    <button mat-icon-button color="warn">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <div class="space-y-2 p-5">
                <h5 class="text-lg text-[#f2999b] font-semibold">Garantía de FloreríaEnvios</h5>
                <ul class="space-y-1 text-gray-500 list-inside text-justify">
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        Sabemos lo importante que es esta fecha, es por esto que nos comprometemos a entregar en el día
                        y horario seleccionado.
                    </li>
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        Si no se encuentra el destinatario, intentaremos comunicarnos para resolver la situación.
                    </li>
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        En caso de no tener respuesta, entregaremos tu pedido con alguien cercano: vecino, compañero de
                        trabajo o recepción.
                    </li>
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        Si nadie puede recibir el arreglo, se te notificará para reprogramar el envío.
                    </li>
                </ul>

                <p class="text-md font-semibold text-[#f2999b]">Recuerda: todas las notificaciones de tu pedido llegarán
                    a tu correo electrónico registrado.</p>
            </div>
        </div>

        <div class="space-y-5">
            <form action="" class="space-y-3">
                <h3 class="text-sm font-medium text-slate-700">1. Selecciona fecha de envío</h3>
                <div>
                    <mat-form-field class="w-full" appearance="outline">
                        <input matInput [matDatepicker]="datepicker" (click)="datepicker.open()">
                        <mat-datepicker #datepicker>
                            <mat-datepicker-actions>
                                <button mat-button matDatepickerCancel>Cancel</button>
                                <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                            </mat-datepicker-actions>
                        </mat-datepicker>
                    </mat-form-field>
                </div>

                <h3 class="text-sm font-medium text-slate-700">2. Selecciona la hora de envío</h3>
                <mat-form-field class="w-full" appearance="outline">
                    <mat-select>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>


                <h3 class="text-sm font-medium text-slate-700">3. Complementar pedido (opcional)</h3>
                <button mat-raised-button color="primary" class="w-full">
                    <i class="fa-solid fa-cart-plus"></i>&nbsp;Ver más productos
                </button>

            </form>

            <hr>

            <div class="bg-slate-100 p-5 rounded-md">
                <h3 class="text-sm font-semibold text-slate-700">Resumen de compra</h3>
                <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                    <tbody>
                    <tr class="border-b">
                        <th scope="row" class="font-medium text-gray-900">
                            Subtotal
                        </th>
                        <td class="px-6 py-4 text-right">
                            $150
                        </td>
                    </tr>
                    <tr class="border-b">
                        <th scope="row" class="font-medium text-gray-900">
                            Horario de envio
                        </th>
                        <td class="px-6 py-4 text-right">
                            $280
                        </td>
                    </tr>
                    <tr class="border-b">
                        <th scope="row" class="font-medium text-gray-900">
                            Envio
                        </th>
                        <td class="px-6 py-4 text-right">
                            $100
                        </td>
                    </tr>

                    <tr class="">
                        <th scope="row" class="font-semibold text-lg text-gray-900">
                            Total
                        </th>
                        <td class="px-6 py-4 font-semibold text-lg text-right">
                            $629
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <button mat-raised-button color="primary" class="w-full">
                <i class="fa-solid fa-credit-card"></i> Ir a pagar
            </button>
        </div>
    </div>
</main>
