<main class="mx-auto max-w-7xl space-y-10 px-4 py-16 sm:px-6 lg:px-8">
    <div class="grid w-full grid-cols-3 items-start gap-10">
        <div class="col-span-2 space-y-5">

            <table class="w-full text-sm text-left rtl:text-right text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-16 py-3">
                        <span class="sr-only">Image</span>
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Product
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Qty
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Price
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b hover:bg-gray-50">
                    <td class="p-4">
                        <img src="assets/default-product.jpg" class="w-24 max-w-full max-h-full rounded-lg">
                    </td>
                    <td class="px-6 py-4 text-gray-500">
                        Apple Watch
                    </td>
                    <td class="px-6 py-4">
                        <div class="flex items-center">
                            <button mat-icon-button>
                                <i class="fa-solid fa-circle-minus"></i>
                            </button>
                            <mat-form-field appearance="outline" class="w-20 -mb-5">
                                <input matInput type="number" [min]="1">
                            </mat-form-field>
                            <button mat-icon-button>
                                <i class="fa-solid fa-circle-plus"></i>
                            </button>
                        </div>
                    </td>
                    <td class="px-6 py-4 text-gray-500">
                        $599
                    </td>
                    <td class="px-6 py-4">
                        <button mat-icon-button color="warn">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="space-y-2 p-5">
                <h5 class="text-lg text-[#f2999b] font-semibold">Garantía de FloreríaEnvios</h5>
                <ul class="space-y-1 text-gray-500 list-inside text-justify">
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        Sabemos lo importante que es esta fecha, es por esto que nos comprometemos a entregar en el día y horario seleccionado.
                    </li>
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        Si no se encuentra el destinatario, intentaremos comunicarnos para resolver la situación.
                    </li>
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        En caso de no tener respuesta, entregaremos tu pedido con alguien cercano: vecino, compañero de trabajo o recepción.
                    </li>
                    <li class="flex">
                        <i class="fa-regular fa-circle-check mr-5 mt-1"></i>
                        Si nadie puede recibir el arreglo, se te notificará para reprogramar el envío.
                    </li>
                </ul>

                <p class="text-md font-semibold text-[#f2999b]">Recuerda: todas las notificaciones de tu pedido llegarán a tu correo electrónico registrado.</p>
            </div>
        </div>

        <form action="" class="space-y-5">
            <h3 class="text-sm font-medium text-slate-700">1. Selecciona fecha de envío</h3>
            <div>
                <mat-form-field class="w-full" appearance="outline">
                    <input matInput [matDatepicker]="datepicker" (click)="datepicker.open()">
                    <mat-datepicker #datepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>

            <h3 class="text-sm font-medium text-slate-700">2. Selecciona la hora de envío</h3>
            <div>
                <input type="radio" id="hosting-small" name="hosting" value="hosting-small" class="hidden peer" required />
                <label for="hosting-small" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 peer-checked:text-blue-600 hover:text-gray-600 hover:bg-gray-100 ">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">0-50 MB</div>
                        <div class="w-full">Good for small websites</div>
                    </div>
                </label>
            </div>

            <div>
                <input type="radio" id="hosting-big" name="hosting" value="hosting-big" class="hidden peer">
                <label for="hosting-big" class="inline-flex items-center justify-between w-full p-5 text-green-500 bg-white border border-green-500 rounded-lg cursor-pointer peer-checked:border-green-500 peer-checked:text-green-500 hover:text-green-500 hover:bg-green-100">
                    <div class="block">
                        <div class="w-full text-lg font-semibold">500-1000 MB</div>
                        <div class="w-full">Good for large websites</div>
                    </div>
                </label>
            </div>

            <h3 class="text-sm font-medium text-slate-700">3. Complementar pedido (opcional)</h3>
            <button mat-raised-button color="primary" class="w-full">
                <i class="fa-solid fa-cart-plus"></i>&nbsp;Ver más productos
            </button>

        </form>
    </div>
</main>
