<ul class="hidden text-sm bg-white font-medium text-center text-gray-600 shadow sm:flex" *ngIf="session">
    <li class="w-full">
        <a [routerLink]="['/cuenta/perfil']"
           class="inline-block w-full p-4 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-user text-[#eb8a70]"></i>&nbsp;Mi perfil
        </a>
    </li>
    <li class="w-full">
        <a [routerLink]="['/cuenta/pedidos']"
           class="inline-block w-full p-4 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-store text-[#eb8a70]"></i>&nbsp;Mis pedidos
        </a>
    </li>
    <li class="w-full">
        <a [routerLink]="['/cuenta/direcciones']"
           class="inline-block w-full p-4 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-map-location-dot text-[#eb8a70]"></i>&nbsp;Mis direcciones
        </a>
    </li>
    <li class="w-full">
        <a [routerLink]="['/cuenta/configuracion']"
           class="inline-block w-full p-4 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-gear text-[#eb8a70]"></i>&nbsp;Configuración
        </a>
    </li>
</ul>
