<ul class="hidden text-sm font-medium text-center text-gray-500 shadow sm:flex" *ngIf="session">
    <li class="w-full">
        <a [routerLink]="['/cuenta/perfil']"
           class="inline-block w-full p-4 text-gray-900 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-user"></i>&nbsp;Mi perfil
        </a>
    </li>
    <li class="w-full">
        <a [routerLink]="['/cuenta/pedidos']"
           class="inline-block w-full p-4 text-gray-900 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-store"></i>&nbsp;Mis pedidos
        </a>
    </li>
    <li class="w-full">
        <a [routerLink]="['/cuenta/direcciones']"
           class="inline-block w-full p-4 text-gray-900 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-map-location-dot"></i>&nbsp;Mis direcciones
        </a>
    </li>
    <li class="w-full">
        <a [routerLink]="['/cuenta/configuracion']"
           class="inline-block w-full p-4 text-gray-900 border-r border-gray-200 rounded-s-lg" aria-current="page">
            <i class="fa-solid fa-gear"></i>&nbsp;Configuración
        </a>
    </li>
</ul>
