<footer class="px-32 py-20 bg-[#f2999b]">
    <div class="mx-auto max-w-screen-2xl">
        <div class="md:flex ">
            <div class="grid grid-cols-5 gap-8 sm:gap-6">
                <div class="mb-6 md:mb-0">
                    <a [routerLink]="['/']" class="flex items-center">
                        <img src="../../../../../assets/logotipo-floreria-envios-positivo.png" class="mr-3 h-20 "
                             alt="FloreriaEnvios Logo"/>
                    </a>
                    <p class="text-white mb-3">Florería Envíos es una empresa mexicana dedicada al envio de flores y regalo a domicilio.</p>
                    <div class="flex space-x-3 text-xl items-center text-white">
                        <a href=""><i class="fa-brands fa-square-facebook fa-xl"></i></a>
                        <a href=""><i class="fa-brands fa-instagram fa-xl"></i></a>
                    </div>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Información</h2>
                    <ul class="list-disc list-inside text-white space-y-5">
                        <li>
                            <a href="https://flowbite.com" class="hover:underline">Cobertura</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Politicas de Envío</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Preguntas Frecuentes</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Quiero afiliar mi floreria</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Nosotros</h2>
                    <ul class="list-disc list-inside text-white space-y-5">
                        <li>
                            <a href="https://flowbite.com" class="hover:underline">¿Quiénes somos?</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Garantía</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Comentarios y sugerencias</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Conectar</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Soporte</h2>
                    <ul class="list-disc list-inside text-white space-y-5">
                        <li>
                            <a href="https://flowbite.com" class="hover:underline">Estatus de pedido</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Solicitar mi factura</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Métodos de pago</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Aviso de privacidad</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Terminos y condiciones</a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Contacto</h2>
                    <ul class="list-disc list-inside text-white space-y-5">
                        <li>
                            <a href="https://flowbite.com" class="hover:underline">Playa del Carmen, Quintana Roo</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">Teléfono: 9841234567</a>
                        </li>
                        <li>
                            <a href="https://tailwindcss.com/" class="hover:underline">contacto&#64;mail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
