<nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-3 gap-4">
        <div class="col-start-2">
            <img class="w-28 mx-auto" src="../../../../../assets/logotipo-floreria-envios.png" alt="">
        </div>
        <div class="flex items-center">
            <div class="hidden lg:flex lg:flex-1 lg:items-center lg:justify-end lg:space-x-3">
                <a [routerLink]="['users/login']" class="text-sm font-medium text-gray-700 hover:text-gray-800">Iniciar sesión</a>
                <span class="h-6 w-px bg-gray-200" aria-hidden="true"></span>
                <a [routerLink]="['users/registro']" class="text-sm font-medium text-gray-700 hover:text-gray-800">Crear cuenta</a>
            </div>

            <div class="ml-4 flow-root lg:ml-6">
                <a href="#" class="group -m-2 flex items-center p-2">
                    <i class="fa-solid fa-bag-shopping h-6 w-6 flex-shrink-0 text-gray-400 group-hover:text-gray-500"></i>
                    <span class="ml-2 text-sm font-medium text-gray-700 group-hover:text-gray-800">0</span>
                    <span class="sr-only">items in cart, view bag</span>
                </a>
            </div>
        </div>
    </div>

    <div class="flex h-10 items-center justify-center">

        <!-- Flyout menus -->
        <div class="flex h-full space-x-8 uppercase font-bold">
            <a href="#" class="flex items-center text-sm font-bold text-gray-500 hover:text-gray-600">Women</a>
            <a href="#" class="flex items-center text-sm font-bold text-gray-500 hover:text-gray-600">Men</a>
            <a href="#" class="flex items-center text-sm font-bold text-gray-500 hover:text-gray-600">Company</a>
            <a href="#" class="flex items-center text-sm font-bold text-gray-500 hover:text-gray-600">Stores</a>
        </div>

    </div>
</nav>
