<div class="lg:px-10 lg:py-10">
    <div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
        <div class="w-full sm:w-auto py-8 px-4 sm:p-12 bg-white sm:rounded-2xl sm:border sm:border-slate-200">

            <div class="w-full mx-auto sm:mx-0">
                <div class="space-y-12">
                    <div class="border-b border-gray-900/10 pb-12">
                        <!-- Title and action buttons -->
                        <div class="flex items-center justify-between w-full">
                            <div>
                                <div class="text-xl font-semibold">Editar perfil</div>
                            </div>

                            <mat-slide-toggle (change)="enableUserForm($event)">Editar información</mat-slide-toggle>
                        </div>

                        @if (userForm) {
                            <form [formGroup]="userForm" class="mt-8">
                                <div class="grid grid-cols-1 sm:grid-cols-2 gap-5">
                                    <div>
                                        <mat-label class="mb-2 block text-sm font-medium text-slate-700">
                                            Nombre(s)
                                        </mat-label>
                                        <mat-form-field appearance="outline" class="w-full">
                                            <input matInput formControlName="name">
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-label class="mb-2 block text-sm font-medium text-slate-700">Apellidos
                                        </mat-label>
                                        <mat-form-field appearance="outline" class="w-full">
                                            <input matInput formControlName="lastname">
                                            <span matSuffix class="text-slate-300 text-sm mr-3">
                                            <i class="fa-solid fa-user"></i>
                                        </span>
                                        </mat-form-field>
                                    </div>
                                </div>

                                <div>
                                    <mat-label class="mb-2 block text-sm font-medium text-slate-700">Correo
                                        electrónico
                                    </mat-label>
                                    <mat-form-field appearance="outline" class="w-2/3">
                                        <input matInput type="email" formControlName="email">
                                        <span matSuffix class="text-slate-300 text-sm mr-3">
                                        <i class="fa-solid fa-at"></i>
                                    </span>
                                    </mat-form-field>
                                </div>

                                <div class="grid grid-rows-1">
                                    <span
                                        class="mb-2 block text-sm font-medium text-slate-700">Fecha de Nacimiento</span>
                                    <div class="grid grid-cols-1 sm:grid-cols-3 gap-2 pt-0 sm:gap-5">

                                        <div>
                                            <mat-form-field appearance="outline" class="w-full">
                                                <input matInput placeholder="Día (DD)" formControlName="birthday_day">
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <mat-form-field appearance="outline" class="w-full">
                                                <mat-select placeholder="Mes (MM)" formControlName="birthday_month">
                                                    @for (month of months; track month) {
                                                        <mat-option [value]="month.value">{{ month.name }}</mat-option>
                                                    }
                                                </mat-select>
                                            </mat-form-field>
                                        </div>

                                        <div>
                                            <mat-form-field appearance="outline" class="w-full">
                                                <input matInput placeholder="Año (YYYY)" formControlName="birthday_year">
                                            </mat-form-field>
                                        </div>

                                    </div>
                                </div>

                                <div>
                                    <mat-label class="mb-2 block text-sm font-medium text-slate-700">Teléfono
                                    </mat-label>
                                    <mat-form-field appearance="outline" class="w-1/2">
                                        <input matInput type="email" formControlName="cellphone">
                                        <span matSuffix class="text-slate-300 text-sm mr-3">
                                        <i class="fa-solid fa-phone"></i>
                                    </span>
                                    </mat-form-field>
                                </div>

                                <div class="flex justify-end">
                                    <button [disabled]="userForm.invalid || userForm.disabled" mat-flat-button color="primary"
                                            (click)="updateUser()">
                                        Actualizar información
                                    </button>
                                </div>

                            </form>
                        }

                    </div>

                    <div class="border-b border-gray-900/10 pb-12">
                        <div class="flex items-center justify-between w-full">
                            <div>
                                <div class="text-xl font-semibold">Mi dirección</div>
                            </div>

                            <mat-slide-toggle (change)="enableAddressForm($event)">Editar dirección</mat-slide-toggle>
                        </div>

                        @if (addressForm) {
                            <form [formGroup]="addressForm" class="mt-8">
                                <div class="grid grid-cols-1 sm:grid-cols-3 gap-5">
                                    <div>
                                        <mat-label class="text-sm font-medium text-slate-500">Pais</mat-label>
                                        <mat-form-field appearance="outline" class="w-full">
                                            <mat-select formControlName="country_id"
                                                        (selectionChange)="getStates($event)">
                                                @for (country of countries; track country) {
                                                    <mat-option [value]="country.id">{{ country.name }}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-label class="text-sm font-medium text-slate-500">Estado</mat-label>
                                        <mat-form-field appearance="outline" class="w-full">
                                            <mat-select formControlName="state_id"
                                                        (selectionChange)="getCities($event)">
                                                @for (state of states; track state) {
                                                    <mat-option [value]="state.id">{{ state.name }}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div>
                                        <mat-label class="text-sm font-medium text-slate-500">Municipio</mat-label>
                                        <mat-form-field appearance="outline" class="w-full">
                                            <mat-select formControlName="city_id">
                                                @for (city of cities; track city) {
                                                    <mat-option [value]="city.id">{{ city.name }}</mat-option>
                                                }
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div>
                                    <mat-label class="block text-sm font-medium text-slate-700">Dirección</mat-label>
                                    <mat-form-field appearance="outline" class="w-full">
                                        <input matInput formControlName="address">
                                    </mat-form-field>
                                </div>
                                <div>
                                    <mat-label class="block text-sm font-medium text-slate-700">
                                        Código Postal
                                    </mat-label>
                                    <mat-form-field appearance="outline" class="w-1/2">
                                        <input matInput formControlName="zip">
                                    </mat-form-field>
                                </div>

                                <div class="flex justify-end">
                                    <button [disabled]="addressForm.invalid || addressForm.disabled" mat-flat-button color="primary"
                                            (click)="updateAddress()">
                                        Actualizar dirección
                                    </button>
                                </div>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

