<div class="bg-[url('/assets/floreriaenvios-cover-home.jpg')] bg-center bg-no-repeat bg-cover">
    <div class="px-4 sm:px-6 lg:px-8 pb-52 pt-52 text-center">
        <h1 class="mx-auto max-w-xl font-display text-5xl font-black tracking-tight text-[#f2999b]">
            Envía Flores y Regalos <br>a todo México
        </h1>
        <div class="my-5 border-4 w-2/12 mx-auto border-[#f2999b]"></div>
        <p class="mx-auto max-w-2xl text-xl tracking-tight text-slate-500">Expresa tus sentimientos <br>de la manera
            más hermosa</p>
    </div>
</div>

