<div class="bg-[url('/assets/floreriaenvios-cover-home.jpg')] bg-center bg-no-repeat bg-cover">
    <div class="px-4 sm:px-6 lg:px-8 pb-52 pt-52 text-center">
        <h1 class="mx-auto max-w-xl font-display text-5xl font-black tracking-tight text-[#f2999b]">
            Envía Flores y Regalos <br>a todo México
        </h1>
        <div class="my-5 border-4 w-2/12 mx-auto border-[#f2999b]"></div>
        <p class="mx-auto max-w-2xl text-xl tracking-tight text-slate-500">Expresa tus sentimientos <br>de la manera
            más hermosa</p>
    </div>
</div>

<section class="bg-[#eb8a70]">
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
        <h1 class="mb-4 text-3xl font-semibold text-white md:text-5xl lg:text-3xl">Descubre nuestra exquisita selección
            de flores frescas y arreglos únicos
            para cada ocasión. Haz tu elección y envía amor con cada pétalo.
        </h1>
    </div>
</section>

<section class="px-32 py-16 bg-white">
    <div class="flex justify-between">
        <div class="flex flex-col">
            <img src="assets/selecciona-producto.png" class="w-36 mx-auto">
            <h5 class="uppercase text-slate-400 font-bold">Selecciona tu producto</h5>
        </div>
        <div class="flex flex-col">
            <img src="assets/agrega-al-carrito.png" class="w-36 mx-auto">
            <h5 class="uppercase text-slate-400 font-bold">Agrega al carrito</h5>
        </div>
        <div class="flex flex-col">
            <img src="assets/elige-forma-de-pago.png" class="w-36 mx-auto">
            <h5 class="uppercase text-slate-400 font-bold">Elige la forma de pago</h5>
        </div>
        <div class="flex flex-col">
            <img src="assets/tu-paquete-se-prepara.png" class="w-36 mx-auto">
            <h5 class="uppercase text-slate-400 font-bold">Tu paquete se prepara</h5>
        </div>
        <div class="flex flex-col">
            <img src="assets/tu-envio-esta-en-camino.png" class="w-36 mx-auto">
            <h5 class="uppercase text-slate-400 font-bold">Tu envio está en camino</h5>
        </div>
    </div>
</section>

<section class="px-32 py-16 bg-[#f9eae6]">
    <div class="grid grid-cols-3 gap-10">
        <!-- Primera fila -->
        <div class="relative">
            <img src="assets/flores.jpg" alt="Imagen 1" class="w-full h-full object-cover">
            <button class="absolute w-1/2 right-32 top-56 p-4 bg-[#f2999b] text-white uppercase font-bold">Flores
            </button>
        </div>

        <div class="relative">
            <img src="assets/regalos.jpg" alt="Imagen 1" class="w-full h-full object-cover">
            <button class="absolute w-1/2 right-32 top-56 p-4 bg-[#f2999b] text-white uppercase font-bold">Regalos
            </button>
        </div>

        <div class="relative">
            <img src="assets/dulces.jpg" alt="Imagen 1" class="w-full h-full object-cover">
            <button class="absolute w-1/2 right-32 top-56 p-4 bg-[#f2999b] text-white uppercase font-bold">Dulces
            </button>
        </div>

        <div class="relative">
            <img src="assets/plantas.jpg" alt="Imagen 1" class="w-full h-full object-cover">
            <button class="absolute w-1/2 right-32 top-56 p-4 bg-[#f2999b] text-white uppercase font-bold">Plantas
            </button>
        </div>

        <div class="relative">
            <img src="assets/cerveza.jpg" alt="Imagen 1" class="w-full h-full object-cover">
            <button class="absolute w-1/2 right-32 top-56 p-4 bg-[#f2999b] text-white uppercase font-bold">Cerveza
            </button>
        </div>

        <div class="relative">
            <img src="assets/vinos.jpg" alt="Imagen 1" class="w-full h-full object-cover">
            <button class="absolute w-1/2 right-32 top-56 p-4 bg-[#f2999b] text-white uppercase font-bold">Vinos
            </button>
        </div>
    </div>
</section>

<section class="px-32 py-10 space-y-10 bg-white">
    <h1 class="text-4xl font-bold text-[#f2999b] text-center md:text-5xl lg:text-4xl">Los más vendidos</h1>

    <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
        @for (product of products; track product){
            <div class="group relative">
                <div
                    class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75">
                    @if(product.image){
                        <img src="data:{{ product.image.file.type }};base64,{{ product.image.url}}"
                             class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    } @else {
                        <img src="assets/default-product.jpg"
                             class="h-full w-full object-cover object-center lg:h-full lg:w-full">
                    }
                </div>
                <div class="mt-4">
                    <div class="text-center">
                        <h3 class="text-md text-gray-400 font-bold">
                            <a href="#">
                                <span aria-hidden="true" class="absolute inset-0"></span>
                                {{  product.name }}
                            </a>
                        </h3>
                        <p class="mt-1 text-lg text-[#f2999b] font-bold">{{ product.price | currency}}</p>
                    </div>

                </div>
            </div>
        }
    </div>
</section>

<section class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
    <img src="assets/cta-backgroun-floreriaenvios.jpg" alt=""
         class="absolute inset-0 -z-10 h-full w-full object-cover object-right md:object-center">
    <div class=" px-6 lg:px-8">
        <div class="mx-auto text-center max-w-2xl lg:mx-0 ">
            <h2 class="text-4xl font-bold tracking-tight text-[#f2999b]">Regalos que inspiran, <br>momentos que perduran</h2>
            <div class="my-5 border-4 w-1/4 mx-auto border-[#f2999b]"></div>
            <p class="mt-6 text-lg leading-8 text-gray-400">Creando momentos mágicos</p>
        </div>
    </div>
</section>



