<div class="bg-emerald-500 py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <p class="mt-2 text-2xl font-bold tracking-tight text-white sm:text-4xl">¡Tu pedido se realizo con éxito!</p>
            <p class="mt-4 text-xl leading-8 text-white">Agradecemos tu pedido, actualmente lo estamos procesando. <br>¡Te avisaremos cuando este en camino!</p>
        </div>
    </div>
</div>
<div class="p-10 -mt-28">
    <div class="mx-auto w-1/3 py-8 px-4 space-y-3 sm:p-6 bg-white sm:rounded-2xl sm:border sm:border-slate-200">
        <h1 class="text-2xl">Resumen de Compra</h1>
        <div class="flex space-x-2">
            <i class="fa-solid fa-gift mt-1"></i>
            <div>
                <span class="font-bold">Orden: {{ order.order_number }}</span>
            </div>
        </div>

        <div class="flex space-x-2">
            <i class="fa-solid fa-truck mt-1"></i>
            <div>
                <span class="font-bold">Envio a domicilio</span>
                <p class="font-light text-slate-400">
                    {{ order.addresses.address }} - {{ order.addresses.colony }}, <br>
                    {{ order.addresses.city.name }}, {{ order.addresses.state.name }}. {{ order.addresses.zip }}. <br>
                    {{ order.addresses.name_receiver }} - {{ order.addresses.phone_receiver }}</p>
            </div>
        </div>

        <div class="flex space-x-2">
            <i class="fa-solid fa-credit-card mt-1"></i>
            <div>
                <span class="font-bold">Pagaste {{ order.total | currency}}</span>
            </div>
        </div>
        <a mat-raised-button color="primary" [routerLink]="['/cuenta/pedidos']">Ir a mis pedidos</a>
    </div>

</div>
