@use '@angular/material' as mat;

$fe-primary-pallet: (
    50 : #fee8ec,
    100 : #fcc5cf,
    200 : #fa9faf,
    300 : #f7798e,
    400 : #f65c76,
    500 : #f43f5e,
    600 : #f33956,
    700 : #f1314c,
    800 : #ef2942,
    900 : #ec1b31,
    A100 : #ffffff,
    A200 : #ffecee,
    A400 : #ffb9bf,
    A700 : #ffa0a8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$primary: mat.define-palette($fe-primary-pallet, 900);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$theme: mat.define-light-theme((
    color: (
        primary: $primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
));

@include mat.all-component-themes($theme);
