@import "@angular/cdk/overlay-prebuilt.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


/*Ks Modal Gallery */
.ks-modal-gallery-backdrop {
    background: #000 !important;;
    opacity: 0.85 !important;;
}
.ks-modal-gallery-panel {
    z-index: 90000 !important;
}

/*End Ks Modal Gallery */

/* Navbar Custom */
.bg-header {
    @apply bg-[#f2999b];
}

/* End Navbar */


/* Custom Input Styling */
.mat-form-field {
    @apply w-full;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
    @apply py-2.5;
}


.mat-mdc-form-field-infix {
    min-height: 30px;
}

/* End Custom Input Styling*/

/* Button Custom */

.mdc-button{
    letter-spacing: normal;
}

/* End Button Custom */




