@tailwind base;
@tailwind components;
@tailwind utilities;

/* Navbar Custom */
.bg-header {
    @apply bg-[#f2999b];
}

/* End Navbar */

/* Custom Input Styling */
.mat-form-field{
    @apply w-full;
}
.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 1em 0;
}

.mat-form-field-wrapper {
    padding-bottom: 1em;
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
    top: 0em !important;
}
/* End Custom Input Styling*/

